.color {
  width: 30%;
  height: 50%;
  display: flex;
  font-size: 2rem;
  /* align-items: ; */
  justify-content: space-between;
  background-color: var(--block-color, #000);
}
.color p {
  margin: 0;
  padding: 1rem 2rem;
}
